@import 'variables';
@import 'mixins';

.dashboard-link{
  margin: 0;
  padding: 0;
  li{
    display: block;
    list-style: none;
    a{
      padding: 10px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        height: 100%;
        right: 0;
        top:0;
        width: 2px;
        background-color: $primaryColor;
      }
    }
  }
}